<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>
<!-- START NAVBAR -->
<div th:insert="fragments/navbar :: navbar"></div>
<!-- END NAVBAR -->

<!-- START CART -->
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Mein Einkaufswagen</h1>
    </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table">
                    <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Produkt</th>
                        <th scope="col">Medium</th>
                        <th scope="col" class="text-center">Anzahl</th>
                        <th scope="col" class="text-right">Preis</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product : ${products}">
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.media}"></td>
    <!--                            <td>In stock</td>-->
                            <td><select class="form-control" id="exampleSelect1">
                                <option>1</option>
                            </select>
                            </td>
                            <td class="text-right">
                                <span th:text="${product.price}"></span>
                                <span>€</span>
                            </td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>
                            </button> </td>
                        </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Summe</td>
                        <td class="text-right"><span></span>
                            <span th:text="${#numbers.formatDecimal(total, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
                            <span>€</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Lieferung</td>
                        <td class="text-right">6,90 €</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Gesamt</strong></td>
                        <td class="text-right">
                            <strong>
                                <div th:with="result=${total + 6.90}">
                                    <span th:text="${#numbers.formatDecimal(result, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
                                    <span>€</span>
                                </div>
                            </strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <!-- Weiter einkaufen
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-light">Weiter Einkaufen</button>
                </div>
                -->
                <div class="col-sm-12 col-md-6 text-right ml-auto">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Zum Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CART -->

<!-- START FOOTER -->
<div th:insert="fragments/footer :: footer"></div>
<!-- END FOOTER -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>