<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
</head>
<body>
    <div class="col-md-7" th:fragment="featurette">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your
                        mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
            tellus ac cursus commodo.</p>
        <div class="featurette-buttons">
            <p><a class="btn btn-secondary" href="#" role="button">Details &raquo;</a>
                <a class="btn btn-primary" href="#" role="button">In den Einkaufswagen</a></p>
        </div>
    </div>
    <div class="col-md-5 text-center">
        <img class="featurette-image img-fluid mx-auto" th:href="@{/images/skyfall_cover.jpg}"
             alt="Generic placeholder image">
    </div>
</body>
</html>