<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand navbar-dark bg-dark">
    <div id="logo">
        <i class="fa fa-film"></i>
        <a th:href="@{/}" class="navbar-brand">MikesMovieShop</a>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                   placeholder="Suche..">
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary btn-number">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item m-auto">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/products}">Produkte</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-success btn-sm ml-3" th:href="@{/sites/account}">
                <i class="fa fa-user-circle"></i> Mein Konto
            </a>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-success btn-sm ml-3" th:href="@{/sites/cart}">
                <i class="fa fa-shopping-cart"></i> Einkaufswagen
                <span class="badge badge-light">3</span>
            </a>
        </form>
    </div>
</nav>
</body>
</html>