<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand navbar-dark bg-dark">
    <div id="logo">
        <i class="fa fa-film"></i>
        <a th:href="@{/}" class="navbar-brand">MikesMovieShop</a>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item m-auto">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/products}">Produkte</a>
            </li>
        </ul>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="myAccountButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle"></i> Mein Konto
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a sec:authorize="!(isAuthenticated())" class="dropdown-item" th:href="@{/login}">Anmelden</a>
                <a sec:authorize="!(isAuthenticated())" class="dropdown-item" th:href="@{/registration}">Registrieren</a>
                <a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{/orders}">Bestellungen</a>
                <a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{/logout}">Abmelden</a>
            </div>
        </div>
        <a class="btn btn-primary" th:href="@{/cart}" role="button" id="shoppingCartButton">
            <i class="fa fa-shopping-cart"></i> Einkaufswagen
        </a>
    </div>
</nav>
</body>
</html>