img.card-img-top {
    width: 150px;
}

.products-title {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.rating.d-flex.align-items-left {
    margin: 8px 8px 8px 3px;
}

i.products-star.fa.fa-star {
    margin-left: 4px;
}

.cut-text {
    overflow: hidden;
    position: relative;
    max-height: 6em;
    padding-right: 0.7em;
}
.cut-text:before {
    content: '..';
    position: absolute;
    right: 0;
    bottom: 0;
}
.cut-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}